#dato0{
    color: rgb(255, 0, 0);
font-size: 60px;

}
.pato{
    font-family: fantasy;
    color: rgb(85, 0, 0);
    font-size: 30px;
    text-align: right;
    background-color: black;
}

div{
height: 400px;
width: 400px;


}
