.about{
    font-family: cursive;
    color: rgb(108, 180, 0);
    
}

.icono{
    background-image:url(../image/tractor.png);
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    padding-left:20px;
    }